/* style.css */

:root {
    --bg-color: #282c34; /* Dark background */
    --text-color: #abb2bf; /* Light gray text */
}

body {
    margin: 0;
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: left;
    align-items: left;
    min-height: 100vh;
    box-sizing: border-box;
}
