:root{
    --bg-color: #282c34; /* Dark background */
    --text-color: #abb2bf; /* Light gray text */
    --border-color: #ac3232;
}

html, body {
  height: 100%;
  margin: 20px;
  margin-bottom: 20%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color)
}

#mainChat {
  flex: 0.85;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  margin: 0px;
  border: 1px solid var(--border-color);
  overflow-y: auto;
  white-space: pre-wrap;

  display: flex;
  flex-direction: column-reverse; /* Bottom-up flow */
}
